
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue";
    background-color: #f4f4f5;
  }

body > div{
    margin: auto;
}

/* Block*/
.bnt{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.bnt:hover{
    opacity: 0.8;
}

.bnt + .bnt{
    margin-left: 16px;
}

.bnt--success{
    background-color: green;
}

.bnt--warn{
    background-color: orange;
}

.bnt--danger{
    background-color: red;
}

.bnt--disable{
    opacity: 0.5 !important;
    cursor: default;
}


.toast{
    display: flex;
    background-color: #fff;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear .3s ;
}

@keyframes InlineLeft{
    from{
        opacity: 0;
        transform: translateX(calc(100%)+32px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeout{
    to{
        opacity: 0;
    }
}

.toast__icon{
    font-size: 25px;
}

.toast +.toast{
    margin-top: 12px;
}

#toast{
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}



.toast__icon,
.toast__close{
    padding: 0 16px;
}
.toast__body{
    flex-grow: 1;
}
.toast__title{
    color: #333;
    font-size: 20px;
    font-weight: 1000;
}
.toast__close{
    font-size: 20px;
    color:rgba(0,0,0,0.3);
    cursor: pointer;
}
.toast__msg{
    font-size: 14px;
    margin-top: 6px;
    color: #888;
    line-height: 1.5;
}

.toast--success{
    border-color: #47d864;
}

.toast--success .toast__icon{
    color: #47d864;
}

.toast--info{
    border-color: #2f86cb
}

.toast--info .toast__icon{
    color: #2f86cb;
}

.toast--warning{
    border-color: #ffc021
}

.toast--warning .toast__icon{
    color: #ffc021;
}

.toast--error{
    border-color: #ff623d
}

.toast--error .toast__icon{
    color: #ff623d;
}
